@import 'assets/styles/variables.css';

.about {
  padding-top: 3.75rem;

  color: var(--brand-white);
  background-image: linear-gradient(to top, #001829, #00101d);

  :global {
    .container {
      @media (--breakpoint-xxl) {
        max-width: 1500px;
      }
    }
  }

  .title {
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-size: 2.5rem;
    font-weight: var(--font-weight-extrabold);
    text-align: center;
  }

  .about-content-left,
  .about-content-right {
    margin: 1rem 0;
  }

  .about-content-left {
    display: flex;
    flex-direction: column;

    padding-left: 3rem;
    border-left: 10px solid #ffffff;

    .heading {
      margin-bottom: 1.5rem;

      font-size: 2rem;
      font-weight: var(--font-weight-semibold);
    }

    .description {
      font-size: 1.125rem;
      font-weight: var(--font-weight-semibold);
      line-height: 1.56;
      letter-spacing: 0.55px;
    }

    @media (--breakpoint-md) {
      max-width: 487px;
    }
  }

  .about-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .advantage {
      margin: 1rem 0;
    }

    .icon {
      max-height: 50px;
      height: 100%;
    }

    .text {
      margin-top: 2rem;

      font-size: 0.875rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.3;
      letter-spacing: 0.42px;
    }
  }

  .image-wrapper {
    max-width: 900px;
    width: 100%;
    margin: 8.375rem auto 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}
