@import 'assets/styles/variables.css';

.title {
  margin: 4rem 0;

  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.section {
  margin-bottom: 2rem;

  color: #000000;
  text-align: justify;

  * {
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  a {
    color: #000000;
    text-decoration: underline;

    &:hover {
      color: #000000;
    }
  }

  p {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    opacity: 0.9;
  }

  .heading {
    font-size: 1rem;
    font-weight: var(--font-weight-semibold);
  }

  img {
    width: 100%;

    &.mew {
      display: block;

      max-height: 400px;
      width: initial;

      margin: 0 auto;
    }
  }

  .note {
    font-weight: var(--font-weight-semibold);
    opacity: 1;
  }
}
