@import 'assets/styles/colors.css';
@import 'assets/styles/variables.css';

.how-it-works {
  :global {
    .container {
      @media (--breakpoint-xxl) {
        max-width: 1500px;
      }
    }
  }

  .title {
    margin-top: 6rem;
    margin-bottom: 3rem;

    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
  }

  .sub-title {
    margin-bottom: 3rem;

    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    text-align: center;

    a {
      color: #000000;
      text-decoration: underline;

      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }
}

.footer {
  margin-top: 3rem;
}
