:root {
  --brand-gradient: linear-gradient(to top, #005288, #00101d 100%);
  --brand-blue-light: #0e309a;
  --brand-blue-medium: #003457;
  --brand-blue-dark: #00101d;
  --brand-active: #002946;
  --brand-grey-light: #b0b0b0;
  --brand-dark: #283542;
  --brand-white: #ffffff;
}
