@import 'assets/styles/colors.css';
@import 'assets/styles/variables.css';

@global-import "react-virtualized/styles.css";

:global {
  .ReactVirtualized__Table__headerRow {
    border-bottom: 2px solid #f9f9f9;
  }
}

.table {
  .header {
    font-weight: var(--font-weight-semibold);
    opacity: 0.6;

    .header-content {
      display: flex;
    }
  }

  .left {
    justify-content: flex-start;
    text-align: left;
  }

  .right {
    justify-content: flex-end;
    text-align: right;
  }

  .row {
    padding: 0 20px !important;
  }

  .content {
    .row {
      font-size: 0.9rem;
      font-weight: var(--font-weight-medium);

      &:nth-of-type(even) {
        background-color: #f9fdfd;
      }
    }
  }

  .empty-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 60px;

    font-size: 0.9rem;
    font-weight: var(--font-weight-medium);
  }
}
